@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Roboto:wght@100&display=swap');
:root {
  --main-bg-color:#2874f0;
}
* {
  margin: 0;
  padding: 0;
}
header {
  /* background: var(--main-bg-color); */
  /* border: 10px ssolid rgb(190, 212, 23); */
  /* height: 8vh; */
  position: fixed;
  /* position: relative; */


}
header::before{
  content: "";
  background-color:var(--main-bg-color);
  position: absolute;
  height:11vh;
  width:100vw;
  z-index: -1;
  opacity: 1.2;
}
nav{
  display: flex;
 
}
.logo{
  display: flex;
  align-items: center;
  width: 128px;
  height: 18px;
  margin: 28px auto;
}
.logo img{
  width: 145px;
padding: 0px 6px;

}
nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5px;
}
nav ul li {
  list-style: none;
  padding: 20px;
}
nav ul li:hover{
  transform: scale(1.2);
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  /* display: block; */
  border-radius: 22px;

}
nav ul li a:hover {  
  color: black;
  /* color:white; */
  
  font-weight: bold;
  /* border-radius: 4px solid; */
}
.search {
  display:flex;
  align-items:center;
}

.search input{
width: 30vw;
height: 3.5vh;
border-radius: 13px;
margin: 1px 15px 2px 0px;
padding: 2px 2px;
}
#input{
  font-size: 1.2rem;
}
.search button{
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.cart{
    width: 34px;
    height: 29px;
    margin: 1px 3px;
    padding: 3px;
    color: #742fa5;
    /* background-color: slateblue; */
}
ul{
  margin: 38px;
  
}
.slider{
  /* margin: 2px auto; */
  /* background-color: #18191b; */
  height: 79.5vh;
  margin: 0vh 22vh;
  max-width:77vw;
  /* background-color: #742fa5; */
}
.container{
  /* background-color: brown; */
  min-height:calc(89vh);
}
.card{
  background-color: #e6dfeb;
  max-width: 92vw;
  margin: auto;
  /* font-family: 'Lato', sans-serif;  */
  font-size: 1em;
}
.cards{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
card h1
{
  font-family: 'Lato', sans-serif;

}
.card-item{
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 15px;
}
.lines{
  font-family: 'Lato', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  text-align: center;
}
.v2{
  margin: 5px 0;
}
.v1{
  margin: 6px 0;
}
footer {
  height: 5vh;
  background-color:var(--main-bg-color);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size:12px;
}